# Maven
target/
pom.xml.tag
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/
*.log

# Java Class Files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE Files (IntelliJ, VS Code, etc.)
.idea/
.vscode/
*.iml
.DS_Store